.BaseCard_Card {
  background-color: #1b1f2e;
  padding: 2rem;
  border-radius: 0.5rem;
  position: relative;
  margin: 2rem;
  margin-top: 1rem;
}

.BaseCard_Card:before {
  --border-thickness: 2rem;

  content: "";
  height: calc(100% + var(--border-thickness));
  width: calc(100% + var(--border-thickness));
  border-radius: 0.8rem;
  
  position: absolute;
  top: calc(var(--border-thickness) / -2);
  left: calc(var(--border-thickness) / -2);
  z-index: -999999;
}

@media screen and (min-width: 768px) {
  .BaseCard_Card:before {
    --border-thickness: 2.75rem;
  }
}