.BaseCard_Border {
  --border-thickness: 1.5rem;
  
  padding: var(--border-thickness);
  
  margin: 2rem;
  margin-top: 1rem;

  display: flex;
  justify-content: center; 

  position: relative;
  overflow: hidden;

  border-radius: 0.8rem;
}

.BaseCard_Border::before {
  content: "";

  height: 1000px;
  width: 1000px;

  align-self: center;
  position: absolute;
  
  z-index: -999999;
}

.BaseCard_Content {
  background-color: #1b1f2e;
  border-radius: 0.5rem;
  padding: 2rem;
  align-self: center;
}

@media screen and (min-width: 768px) {
  .BaseCard_Border::before {
    --border-thickness: 2rem;
  }
}