.SmallDomainInfo {
--border-width: 2px;

  background-color: rgb(203 213 225);
  border-color: rgb(148 163 184);
  border-style: solid;
  border-top-width: var(--border-width);
  border-bottom-width: var(--border-width);
  width: 100%;
}