.SuccessCard_Card::before {
  background-image: linear-gradient(0deg, #53ed58, #4b8e5c, #68686e);
  animation: spin 5s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}