.ErrorCard_Card::before {
  --angle: 0deg;
  background-image: linear-gradient(var(--angle), #c18672 10%, #e83737, #f70909);
  animation: spin 5s linear infinite;
}

@keyframes spin {
  0% {
    --angle: 0deg;
  }
  100% {
    --angle: 360deg;
  }
}