.ErrorCard_Card::before {
  background-image: linear-gradient(0deg, #c18672 10%, #e83737, #f70909);
  animation: spin 5s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}