.ErrorCard_Card::before {
  background-image: linear-gradient(var(--angle), #c18672 10%, #e83737, #f70909);
  animation: spin 5s linear infinite;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes spin {
  0% {
    --angle: 0deg;
  }
  100% {
    --angle: 360deg;
  }
}