.LoadingCard_Card::before {
  background-image: linear-gradient(0deg, #5ab5af, #5a95b5 20%, #1b10e8, #625bea);
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}