.WaitingCard_Card::before {
  --angle: 0deg;
  background-image: linear-gradient(var(--angle), #68686e, #e6e0d1, #9c978a);
  animation: spin 10s linear infinite;
}

@keyframes spin {
  0% {
    --angle: 0deg;
  }
  100% {
    --angle: 360deg;
  }
}