.WaitingCard_Card::before {
  display: inline-block;
  background-image: linear-gradient(0deg, #68686e, #e6e0d1, #9c978a);
  animation: waitingcard_spin 10s linear infinite;
}

@keyframes waitingcard_spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}