.SmallDomainInfo {
  --border-width: 2px;
  --base-background-color: rgb(203 213 225); 
  
    background-color: var(--base-background-color);
    border-color: rgb(148 163 184);
    border-style: solid;
    border-top-width: var(--border-width);
    border-bottom-width: var(--border-width);
    width: 100%;
    padding: 1.25rem;
  }